.mt-wrapper
  figure.mt-services
    img.mt-services__img(src="assets/images/services/services.png" alt="Camiones rojos")
    figcaption.mt-services__content
      h2.mt-services__title Conoce nuestros servicios y déjanos transformar la logística de tu empresa hoy mismo.
      a.mt-btn(href="#") Más informacíon
