@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap");
/*------------------------------------*\
    #font-family Ico: Gnp
\*------------------------------------*/
@font-face {
  font-family: "ico-mt";
  src: url("./../assets/fonts/ico-mt.eot?ufv9oo");
  src: url("./../assets/fonts/ico-mt.eot?ufv9oo#iefix") format("embedded-opentype"), url("./../assets/fonts/ico-mt.ttf?ufv9oo") format("truetype"), url("./../assets/fonts/ico-mt.woff?ufv9oo") format("woff"), url("./../assets/fonts/ico-mt.svg?ufv9oo#ico-mt") format("svg");
  font-weight: normal;
  font-style: normal;
}
.i-:before,
[class^=i-]:before,
[class*=" i-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ico-mt" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i-:after,
[class^=i-]:after,
[class*=" i-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ico-mt" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-facebook:before {
  content: "\e900";
}

.i-instagram:before {
  content: "\e901";
}

.i-linkedin:before {
  content: "\e902";
}

body,
h1, h2, h3, h4, h5, h6,
dl, dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body * {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
}

figcaption,
figure,
main {
  display: block;
}

figure,
p {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

abbr[title],
dfn[title] {
  cursor: help;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
pre,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

blockquote {
  margin: 0;
}

audio,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

input {
  line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
}

optgroup {
  font-weight: bold;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  border: 0;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.mt-main-content {
  position: relative;
  margin: 90px 0 144px;
  min-height: 100vh;
}

.mt-wrapper {
  position: relative;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .mt-main-content {
    margin-top: 75px;
  }
}
.mt-btn {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  max-width: max-content;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0.4375rem 1.875rem;
  min-width: 224px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #C80D12;
  color: #fff;
  line-height: 1.7;
  border: 1px solid transparent;
  transition: all ease 0.3s;
}
.mt-btn:hover {
  background-color: #a80c10;
  border: 1px solid #C80D12;
}

.mt-btn--secondary {
  background-color: #fff;
  color: #C80D12;
}
.mt-btn--secondary:hover {
  background-color: #ececec;
  border: 1px solid #ececec;
}

@media only screen and (min-width: 1024px) {
  .mt-btn {
    font-size: 16px;
    font-size: 1rem;
    padding: 0.8125rem 1.875rem;
    min-width: 14.0625rem;
  }
}
.mt-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.mt-header__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
}

.mt-header__figure-logo {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.mt-header__logo {
  background-image: url("../assets/images/logo-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  display: block;
  font-size: 1px;
  width: 165px;
  height: 35px;
}

.mt-header__toggle-button {
  background-image: url("../assets/images/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  display: block;
  font-size: 1px;
  width: 23px;
  height: 23px;
  border: none;
  transition: all 0.5s cubic-bezier(0.32, 0, 0.67, 0) 3ms;
}

.mt-header__nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 0;
  padding: 140px 30px;
  transform: translate(100%, 0);
  transition: all 0.5s cubic-bezier(0.32, 0, 0.67, 0) 3ms;
}

.mt-header__list {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.32, 0, 0.67, 0) 3ms;
  list-style: none;
}

.mt-header--open .mt-header__list {
  opacity: 1;
}
.mt-header--open .mt-header__toggle-button {
  background-image: url("../assets/images/icon-close.svg");
}
.mt-header--open .mt-header__nav {
  transform: translate(0, 0);
}

.mt-header__list-item {
  color: #333333;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 0;
  border-bottom: 1px solid #F5F5F5;
}

.mt-header__nav-link {
  font-size: 30px;
  color: #333333;
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.32, 0, 0.67, 0);
}
.mt-header__nav-link:hover {
  color: #C80D12;
}

.mt-header__nav-link--active {
  color: #C80D12;
}

@media only screen and (min-width: 768px) {
  .mt-header {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
  }
  .mt-header__wrapper {
    padding: 0;
    box-shadow: none;
  }
  .mt-header__content {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mt-header__nav {
    position: relative;
    padding: 0;
    transition: none;
    transform: translate(0, 0);
  }
  .mt-header__list {
    display: flex;
    align-items: center;
    gap: 34px;
    margin: 0;
    opacity: 1;
  }
  .mt-header__list-item {
    font-size: 16px;
    border-bottom: 0;
  }
  .mt-header__toggle-button {
    display: none;
  }
  .mt-header__nav-link {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .mt-header__logo {
    width: 248px;
    height: 45px;
  }
}
.mt-footer {
  font-family: "Source Sans 3", sans-serif;
  color: #111827;
  position: relative;
  background-color: #F5F5F5;
  margin-top: 130px;
  padding-bottom: 30px;
}
.mt-footer:before {
  content: "";
  background-image: url("../assets/images/bg-footer-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  top: -99px;
  z-index: 1;
}

.mt-footer__wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.mt-footer__list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
  padding-left: 0;
}

.mt-footer__brand-img {
  width: 120px;
  height: auto;
}

.mt-footer__social-media-list {
  display: flex;
  gap: 14px;
  list-style: none;
  padding-left: 0;
}

.mt-footer__social-media-link {
  font-size: 40px;
  font-size: 2.5rem;
  text-decoration: none;
  color: #C80D12;
}

.mt-footer__nav {
  text-align: center;
  margin-bottom: 40px;
}

.mt-footer__nav-title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 18px;
}

.mt-footer__nav-list {
  padding-left: 0;
  list-style: none;
}

.mt-footer__nav-list-item {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.mt-footer__legales {
  display: flex;
  gap: 20px;
  border: 1px solid #D2D2D2;
  border-right: none;
  border-left: none;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mt-footer__legales-logo img {
  height: 40px;
  width: auto;
  display: block;
}

.mt-footer__copyright {
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
  padding: 10px 0;
  display: block;
}

.mt-footer__copyright-link {
  color: #C80D12;
}

.mt-footer__created-by {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 12px;
  font-size: 0.75rem;
}

.mt-footer__created-by-element {
  padding: 0 4px;
}

@media only screen and (min-width: 768px) {
  .mt-footer:before {
    top: -98px;
    height: 100px;
    background-image: url("../assets/images/bg-footer-desktop.png");
    z-index: -1;
  }
  .mt-footer__wrapper {
    padding-top: 30px;
  }
  .mt-footer__wrapper-group {
    align-items: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
  .mt-footer__list {
    display: block;
    text-align: center;
    margin: 0;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
  .mt-footer__brand {
    margin-bottom: 20px;
  }
  .mt-footer__social-media-link {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .mt-footer__nav {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-around;
    margin: 0;
    text-align: left;
  }
  .mt-footer__legales {
    border: 0;
  }
  .mt-footer__bottom {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin: 50px 0 0;
    padding: 20px 0;
  }
  .mt-footer__bottom:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
    position: absolute;
    top: 0;
  }
  .mt-footer__legales {
    margin: 0;
    padding: 0;
  }
  .mt-footer__copyright,
  .mt-footer__created-by {
    padding: 0;
  }
}
.mt-hero {
  padding: 1.25rem 0;
}

.mt-hero__title {
  font-size: 50px;
  font-size: 3.125rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.mt-hero__caption {
  display: none;
}

.mt-hero__image {
  content: url(../assets/images/hero/hero-mobile.png);
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 20px auto 0;
}

@media only screen and (min-width: 768px) {
  .mt-hero {
    display: flex;
    align-items: center;
    gap: 30px;
    background-image: url("../assets/images/hero/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
  .mt-hero__title {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .mt-hero__image {
    max-width: 350px;
  }
  .mt-hero__caption {
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1180px) {
  .mt-hero {
    padding: 100px 0 80px;
  }
  .mt-hero__header {
    width: 60%;
    max-width: 600px;
  }
  .mt-hero__image {
    position: absolute;
    right: 0;
    width: 40%;
    max-width: initial;
    content: url(../assets/images/hero/hero-desktop.png);
  }
  .mt-hero__title {
    font-size: 60px;
    font-size: 3.75rem;
  }
  .mt-hero__caption {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.mt-cta {
  background-color: #C80D12;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  margin: 1.25rem 0 1.25rem;
}
.mt-cta .mt-btn {
  margin: 0 auto;
}

.mt-cta__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .mt-cta {
    margin: 2.5rem 0 2.5rem;
  }
  .mt-cta__title {
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 16px;
  }
}
.mt-services {
  padding: 1.25rem 0 1.25rem;
}

.mt-services__img {
  display: block;
  width: 11.6875rem;
  margin: 0 auto;
  padding-bottom: 1.25rem;
}

.mt-services__title {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-bottom: 1.875rem;
}

@media only screen and (min-width: 1024px) {
  .mt-services {
    display: flex;
    align-items: center;
    padding: 2.5rem 0 2.5rem;
  }
  .mt-services__img {
    width: 40%;
    max-width: 30.375rem;
    margin-right: 4.375rem;
  }
  .mt-services__title {
    font-size: 50px;
    font-size: 3.125rem;
  }
}
.mt-people {
  position: relative;
  padding: 1.25rem 0 0;
}
.mt-people .mt-btn {
  margin: 0 auto;
}

.mt-people__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 90%;
  max-width: 53.75rem;
}

.mt-people__img {
  display: block;
  width: 100%;
  height: 21.25rem;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.mt-people__title {
  display: inline-block;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  color: #ffffff;
  padding: 0 0.5rem;
  background-color: rgba(17, 24, 39, 0.6);
}

.mt-people__text {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding: 0 0.5rem;
  color: #ffffff;
  font-weight: 600;
  background-color: rgba(17, 24, 39, 0.6);
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 1024px) {
  .mt-people {
    padding: 2.5rem 0 0;
  }
  .mt-people__img {
    height: 26.875rem;
  }
  .mt-people__title {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .mt-people__text {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.mt-contact {
  padding: 2.5rem 0;
  background-image: url("../assets/images/contact/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mt-contact .mt-btn {
  margin: 0 auto;
}

.mt-contact__content {
  max-width: 59.375rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.mt-contact__text {
  font-size: 20px;
  font-size: 1.25rem;
  color: #C80D12;
  padding-bottom: 0.625rem;
  font-weight: 700;
}

.mt-contact__title {
  font-size: 40px;
  font-size: 2.5rem;
  padding-bottom: 1.875rem;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .mt-contact {
    padding: 6.25rem 0;
  }
  .mt-contact__title {
    font-size: 50px;
    font-size: 3.125rem;
  }
}
.mt-content--our-company {
  padding-top: 36px;
}

.mt-oc-title {
  font-family: "Inter", sans-serif;
  color: #111827;
  font-size: 40px;
  font-size: 2.5rem;
  padding-bottom: 16px;
}

.mt-oc-description {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 30px;
  line-height: 30px;
}

.mt-oc-hero__image {
  width: 100%;
  max-width: 450px;
  height: auto;
  padding: 40px 0;
}

/* Mision y vision */
.mt-main-container_mv {
  padding: 0 19px 0 20px;
}

.mt-oc-achievements__subtitle {
  font-size: 22px;
  font-size: 1.375rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 16px;
}

.mt-oc-achievements__subtitle-text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 30px;
  line-height: 30px;
}

/* Principios organizacionales */
.mt-oc-values {
  display: grid;
}

.mt-oc-values__group {
  width: 100%;
  max-width: 351px;
  margin: 0 auto;
}

.mt-oc-values__title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 20px 45px 30px 0;
  text-align: left;
  margin: 0 auto;
}

.mt-oc-values__item {
  overflow: hidden;
  border-top: 1px solid #DFE4EA;
}

.mt-oc-values__item-subtitle {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.mt-oc-values__item-subtitle:hover {
  background-color: #ececec;
}

.mt-oc-values__item-subtitle::after {
  content: "v";
  font-size: 14px;
  color: #DFE4EA;
  transition: transform 0.3s ease;
}

.mt-oc-values__item.active .mt-oc-values__item-subtitle::after {
  transform: rotate(180deg);
}

.mt-oc-values__item-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background: #fff;
  padding-top: 25px;
}

.mt-oc-values__item-text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #4B5563;
}

.mt-oc-values__item.active .mt-oc-values__item-content {
  max-height: 150px;
}

.mt-our-company__group {
  width: 90%;
  margin: 0 auto;
}

.mt-oc-values {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .mt-main-wraper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .mt-our-company__group {
    display: flex;
    gap: 50px;
    width: 90%;
    max-width: 1440px;
  }
  .mt-content--our-company {
    padding-top: 60px;
  }
  .mt-oc-title {
    padding-bottom: 20px;
  }
  .mt-oc-description {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .mt-oc-hero__image {
    max-width: 525px;
    height: auto;
  }
  .mt-oc-achievements__subtitle {
    font-size: 24px;
    font-size: 1.5rem;
    padding-bottom: 24px;
  }
  .mt-oc-achievements__subtitle-text {
    font-size: 18px;
    font-size: 1.125rem;
  }
  /* Principios organizacionales en desktop */
  .mt-oc-values {
    background-image: url("..assets/images/our-company/rayas.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 80px 0;
  }
  .mt-oc-values__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 140px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .mt-oc-values__title {
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 0;
    padding-bottom: 30px;
    margin: 0 auto 0 0;
  }
  .mt-oc-values__item {
    background: transparent;
    border: none;
    box-shadow: none;
    padding-bottom: 80px;
    padding-top: 0;
  }
  .mt-oc-values__item-subtitle {
    font-size: 16px;
    font-size: 1rem;
    padding-bottom: 12px;
    font-weight: bold;
    background: transparent;
    cursor: default;
    padding: 0 0 12px;
  }
  .mt-oc-values__item-text {
    font-size: 16px;
    font-size: 1rem;
  }
  .mt-oc-values__item-content {
    border-top: 0;
    padding-top: 0px;
  }
  .mt-oc-values__item-subtitle::after {
    content: none;
  }
}
.mt-content--our-services {
  padding-top: 36px;
}

.mt-os-hero-os {
  padding: 0px 19px 0 20px;
}

.mt-os-hero__title {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 0px 0px 16px 0px;
}

.mt-os-hero__text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 0px 0px 30px 0px;
  line-height: 26px;
}

.mt-os-hero__image {
  width: 100%;
  height: auto;
  padding-top: 35px;
  overflow: visible;
}

.mt-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mt-os-card-grid {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 50px 27px 50px 26px;
  scroll-behavior: smooth;
}

.mt-os-card-grid__item {
  flex: 0 0 80%;
  scroll-snap-align: center;
  padding: 30px 30px 0 30px;
  border: 1px solid #D2D2D2;
  border-radius: 13px;
  background-color: #F9F9FA;
  min-width: 321px;
  max-width: 337px;
}

.mt-os-card-grid__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Source Sans 3", sans-serif;
  color: #111827;
  padding: 0px 0px 20px 0px;
}

.mt-os-card-grid__text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #4B5563;
  padding: 0 0px 39px 0px;
}

.mt-os-hero__logo {
  display: block;
  margin: 0 0 0 auto;
}

@media only screen and (min-width: 1024px) {
  .mt-content--our-services {
    padding-top: 53px;
  }
  .mt-os-hero {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 64px;
  }
  div.mt-os-hero-os {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .mt-os-hero__title {
    font-size: 50px;
    font-size: 3.125rem;
    padding-bottom: 20px;
  }
  .mt-os-hero__text {
    font-size: 20px;
    font-size: 1.25rem;
    padding-bottom: 30px;
    line-height: 30px;
  }
  .mt-os-hero__image {
    width: 100%;
    max-width: 613px;
    height: auto;
    padding-bottom: 90px;
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .mt-os-card-grid {
    padding-bottom: 90px;
  }
  .mt-os-card-grid__item {
    flex: 0 0 30%;
  }
  .mt-os-card-grid__title {
    padding-bottom: 20px;
  }
  .mt-os-card-grid__text {
    padding-bottom: 39px;
  }
}
.mt-content--jobs-page {
  padding-top: 36px;
}

.mt-jobs-page {
  padding: 0px 20px 0 20px;
}

.mt-jobs-page__title {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 16px;
}

.mt-jobs-page__text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 30px;
  line-height: 26px;
}

.mt-jobs-page__cont {
  padding-bottom: 40px;
}

.img-movil {
  display: flex;
  width: 100%;
  max-width: 427px;
}

.img-desktop-1 {
  display: none;
}

.img-desktop-2 {
  display: none;
}

.mt-jobs-forms {
  background-image: url("../assets/images/contact/background-movile.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding-top: 98px;
  padding-bottom: 60px;
}

.mt-jobs-forms__header {
  text-align: center;
  align-items: center;
  padding: 50px 21px 0 19px;
  width: 90%;
  max-width: 525px;
  margin: 0 auto;
}

.mt-jobs-forms__content {
  text-align: center;
  align-items: center;
  padding: 0 21px 0 19px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.mt-jobs-forms__title {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 30px;
}

.mt-jobs-forms__text {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding-bottom: 30px;
  line-height: 30px;
}

.mt-jobs-forms__label {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  line-height: 24px;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.mt-jobs-forms__input {
  width: 100%;
  padding: 11px 16px 11px 20px;
  margin-bottom: 30px;
  border: 1px solid #DFE4EA;
  border-radius: 6px;
  background: #fff;
}

.mt-jobs-forms__input::placeholder {
  color: #9CA3AF;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
}

.mt-jobs-forms__select {
  width: 100%;
  padding: 10px;
  border: 1px solid #DFE4EA;
  border-radius: 6px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.mt-jobs__btn {
  padding-top: 40px;
  padding-bottom: 50px;
}

.mt-jobs__btn-selection {
  margin-top: 45px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .mt-jobs-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: start;
    padding: 0 65px 32px 64px;
  }
  div.mt-jobs-page-header {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 50px 0 0;
    margin-bottom: 50px;
  }
  .mt-content--jobs-page {
    padding-top: 60px;
  }
  .mt-jobs-page__title {
    font-size: 50px;
    font-size: 3.125rem;
    padding: 0px 0px 20px 0px;
  }
  .mt-jobs-page__text {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
  }
  .mt-jobs-forms {
    background-image: url("../assets/images/contact/background.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 130px;
    padding-top: 90px;
  }
  .mt-jobs-forms__header {
    padding: 70px 0 0 0;
  }
  .mt-jobs-forms__content {
    padding-top: 46px;
  }
  .mt-jobs__btn {
    padding-bottom: 70px;
  }
  .mt-jobs-page__cont {
    padding-bottom: 0;
  }
  .mt-jobs-page__picture-mobile {
    display: none;
  }
  .img-movil {
    display: none;
  }
  .img-desktop-1 {
    display: block;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 8px;
  }
  .img-desktop-2 {
    display: block;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 8px;
  }
}
.mt-cp-contact {
  background-color: #fff;
  width: 100%;
  margin-right: 20px;
  padding-right: 20px;
}

.mt-cp-contact__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  color: #C80D12;
  padding: 35px 101px 0 20px;
}

.mt-cp-contact__subtitle {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 0 0 20px 20px;
}

.mt-cp-contact__text-mobile {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 20px 0 40px 19px;
  line-height: 26px;
}

.mt-cp-contact__text-desktop {
  display: none;
}

.mt-cp-means-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px 60px 19px;
  align-items: center;
}

.mt-cp-means-contact__whatsapp {
  background-color: #F9F9FA;
  border-radius: 16px;
  border: 1px solid;
  border-color: #DFE4EA;
  width: 100%;
  max-width: 351px;
  max-height: 0 auto;
}

.mt-cp-means-contact__call {
  background-color: #F9F9FA;
  border-radius: 16px;
  border: 1px solid;
  border-color: #DFE4EA;
  width: 100%;
  max-width: 351px;
  max-height: 0 auto;
}

.mt-cp-means-contact__email {
  background-color: #F9F9FA;
  border-radius: 16px;
  border: 1px solid;
  border-color: #DFE4EA;
  width: 100%;
  max-width: 351px;
  max-height: 0 auto;
}

.mt-cp-means-contact__title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 30px 0 15px 20px;
  text-align: left;
}

.mt-cp-means-contact__text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #111827;
  padding: 0 20px 20px 20px;
  text-align: left;
  line-height: 24px;
}

.mt-contact__btn-selection {
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .mt-cp-contact {
    background-image: url("../assets/images/contact-page/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-right: 0;
    padding-right: 0;
  }
  .mt-cp-contact__title {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 131px 0 0 65px;
    white-space: nowrap;
    text-align: left;
  }
  .mt-cp-contact__subtitle {
    font-size: 50px;
    font-size: 3.125rem;
    padding-left: 65px;
    text-align: left;
  }
  .mt-cp-contact__text-mobile {
    display: none;
  }
  .mt-cp-contact__text-desktop {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
    color: #111827;
    padding: 20px 0 132px 65px;
    line-height: 30px;
    display: block;
    text-align: left;
    max-width: 668px;
  }
  .mt-cta {
    margin: 0%;
  }
  .mt-cp-means-contact {
    display: grid;
    justify-content: center;
    margin-top: 90px;
    gap: 70px;
  }
  .mt-cp-means-contact__whatsapp {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    max-width: 457px;
    display: block;
  }
  .mt-cp-means-contact__call {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    max-width: 457px;
  }
  .mt-cp-means-contact__email {
    max-width: 984px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .mt-cp-means-contact__title {
    font-size: 30px;
    font-size: 1.875rem;
    padding: 50px 0 30px 30px;
    text-align: left;
  }
  .mt-cp-means-contact__text {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0x 0px 30px 30px;
    text-align: left;
  }
  .mt-contact__btn {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.layout {
  width: 90%;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
