//-Jquery
script(src="https://code.jquery.com/jquery-1.10.1.min.js"
  integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k="
  crossorigin="anonymous")

// Modal Track
script(src='static/js/main.js')
