.mt-cta {
  background-color: $primary-color;
  color: $white;
  padding: 30px 20px;
  text-align: center;
  margin: calculateRem(20px) 0 calculateRem(20px);

  .mt-btn {
    margin: 0 auto;
  }
}

.mt-cta__title {
  font-family: $font-secondary;
  font-weight: 700;
  @include font-rem(24px);
  margin-bottom: 20px;
}

@include media-query(wide) {
  .mt-cta {
    margin: calculateRem(40px) 0 calculateRem(40px);
  }

  .mt-cta__title {
    @include font-rem(30px);
    margin-bottom: 16px;
  }
}
