.mt-content--jobs-page {
  padding-top: 36px;
}

.mt-jobs-page {
  padding: 0px 20px 0 20px;
}

.mt-jobs-page__title {
  @include font-rem(40px);
  font-family: $font-primary;
  color: $black-primary;
  padding-bottom: 16px;
}

.mt-jobs-page__text {
  @include font-rem(16px);
  font-family: $font-primary;
  color: $black-primary;
  padding-bottom: 30px;
  line-height: 26px;
}

.mt-jobs-page__cont {
  padding-bottom: 40px;
}

.img-movil {
  display: flex;
  width: 100%;
  max-width: 427px;
}

.img-desktop-1 {
  display: none;
}

.img-desktop-2 {
  display: none;
}

.mt-jobs-forms {
  background-image: url('../assets/images/contact/background-movile.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding-top: 98px;
  padding-bottom: 60px;
}

.mt-jobs-forms__header {
  text-align: center;
  align-items: center;
  padding: 50px 21px 0 19px;
  width: 90%;
  max-width: 525px;
  margin: 0 auto;
}

.mt-jobs-forms__content {
  text-align: center;
  align-items: center;
  padding: 0 21px 0 19px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.mt-jobs-forms__title {
  @include font-rem(30px);
  font-family: $font-primary;
  color: $black-primary;
  padding-bottom: 30px;
}

.mt-jobs-forms__text {
  @include font-rem(18px);
  font-family: $font-primary;
  color: $black-primary;
  padding-bottom: 30px;
  line-height: 30px;
}

.mt-jobs-forms__label {
  @include font-rem(16px);
  font-family: $font-primary;
  color: $black-primary;
  line-height: 24px;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.mt-jobs-forms__input {
  width: 100%;
  padding: 11px 16px 11px 20px;
  margin-bottom: 30px;
  border: 1px solid $white-border;
  border-radius: 6px;
  background: $white;
}

.mt-jobs-forms__input::placeholder {
  color: $grey-secondary;
  @include font-rem(16px);
  line-height: 24px;
}

.mt-jobs-forms__select {
  width: 100%;
  padding: 10px;
  border: 1px solid $white-border;
  border-radius: 6px;
  background: $white;
  font-size: 16px;
  cursor: pointer;
}

.mt-jobs__btn {
padding-top: 40px;
padding-bottom: 50px;
}

.mt-jobs__btn-selection {
  margin-top: 45px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@include media-query(wide) {

  .mt-jobs-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: start;
    padding: 0 65px 32px 64px;
  }

  div.mt-jobs-page-header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 50px 0 0;
    margin-bottom: 50px;
  }

  .mt-content--jobs-page {
    padding-top: 60px;
  }

  .mt-jobs-page__title {
    @include font-rem(50px);
    padding: 0px 0px 20px 0px;
  }

  .mt-jobs-page__text {
    @include font-rem(20px);
    line-height: 30px;
  }

  .mt-jobs-forms {
    background-image: url('../assets/images/contact/background.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 130px;
    padding-top: 90px;
  }

  .mt-jobs-forms__header {
    padding: 70px 0 0 0;
  }

  .mt-jobs-forms__content {
    padding-top: 46px;
  }

  .mt-jobs__btn {
    padding-bottom: 70px;
  }

  .mt-jobs-page__cont {
    padding-bottom: 0;
  }

  .mt-jobs-page__picture-mobile {
    display: none;
  }

  .img-movil {
    display: none;
  }

  .img-desktop-1 {
    display: block;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 8px;
  }

  .img-desktop-2 {
    display: block;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-radius: 8px;
  }
}
