.mt-content--our-services {
  padding-top: 36px;
}

.mt-os-hero-os {
  padding: 0px 19px 0 20px;

}

.mt-os-hero__title {
  @include font-rem(40px);
  font-family: $font-primary;
  color: $black-primary;
  padding: 0px 0px 16px 0px;
}

.mt-os-hero__text {
  @include font-rem(16px);
  font-family: $font-primary;
  color: $black-primary;
  padding: 0px 0px 30px 0px;
  line-height: 26px;
}

.mt-os-hero__image {
  width: 100%;
  height: auto;
  padding-top: 35px;
  overflow: visible;
}

.mt-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mt-os-card-grid {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 50px 27px 50px 26px;
  scroll-behavior: smooth;
}

.mt-os-card-grid__item {
  flex: 0 0 80%;
  scroll-snap-align: center;
  padding: 30px 30px 0 30px;
  border: 1px solid #D2D2D2;
  border-radius: 13px;
  background-color: #F9F9FA;
  min-width: 321px;
  max-width: 337px;
}

.mt-os-card-grid__title {
  @include font-rem(20px);
  font-family: $font-main;
  color: $black-primary;
  padding: 0px 0px 20px 0px;
}

.mt-os-card-grid__text {
  @include font-rem(16px);
  font-family: $font-primary;
  color: $grey-primary;
  padding: 0 0px 39px 0px;
}

.mt-os-hero__logo {
  display: block;
  margin: 0 0 0 auto;
}

@include media-query(wide) {
  .mt-content--our-services {
    padding-top: 53px;
  }

  .mt-os-hero {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 64px;
  }

  div.mt-os-hero-os {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .mt-os-hero__title {
    @include font-rem(50px);
    padding-bottom: 20px;
  }

  .mt-os-hero__text {
    @include font-rem(20px);
    padding-bottom: 30px;
    line-height: 30px;
  }

  .mt-os-hero__image {
    width: 100%;
    max-width: 613px;
    height: auto;
    padding-bottom: 90px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .mt-os-card-grid {
    padding-bottom: 90px;
  }

  .mt-os-card-grid__item {
    flex: 0 0 30%;
  }

  .mt-os-card-grid__title {
    padding-bottom: 20px;
  }

  .mt-os-card-grid__text {
    padding-bottom: 39px;
  }
}
