.mt-content--pt-page {
    margin: 100px 0 50px;
    font-family: $font-secondary;

    p {
        padding-bottom: 16px;
        line-height: 1.3;
    }
}

.mt-content-pt-page__wrapper {
    width: 90%;
    margin: 0 auto;
}

.mt-pt-page__title {
    text-align: center;
    font-family: $font-main;
    padding-bottom: 30px;
}