footer.mt-footer
  .mt-footer__wrapper
    .mt-footer__wrapper-group
      ul.mt-footer__list
        li.mt-footer__brand
          img(src='assets/images/logo-footer.png' alt='Logo Modal Tracks Services' class='mt-footer__brand-img')
        li.mt-footer__social-media
          ul.mt-footer__social-media-list
            li.mt-footer__social-media-item
              a(class="mt-footer__social-media-link i-linkedin" href="https://www.linkedin.com/company/transportesmodaltracksas/" title="Ir a Linkedin")
            li.mt-footer__social-media-item
              a(href="https://www.instagram.com/modaltrack/" class="mt-footer__social-media-link i-instagram" title="Ir a Linkedin")
            li.mt-footer__social-media-item
              a(href="https://www.facebook.com/Modaltrack" class="mt-footer__social-media-link i-facebook" title="Ir a Linkedin")
      nav.mt-footer__nav
        .mt-footer__nav-group
          h3.mt-footer__nav-title Sobre Modal Track Services
          ul.mt-footer__nav-list
            li.mt-footer__nav-list-item Nuestra compañia
            li.mt-footer__nav-list-item Nuestros Servicios
        .mt-footer__nav-group
          h3.mt-footer__nav-title Oportunidades laborales
          ul.mt-footer__nav-list
            li.mt-footer__nav-list-item Trabaja con Nostros
        .mt-footer__nav-group
          h3.mt-footer__nav-title ¿Tienes dudas?
          ul.mt-footer__nav-list
            li.mt-footer__nav-list-item Contáctanos
    .mt-footer__bottom
      ul.mt-footer__legales
        li.mt-footer__legales-logo
          img(src='assets/images/supertransporte.png' alt="")
      </ul>
      small.mt-footer__copyright Todos los derechos reservados - Modal Track Services © 2025
      small.mt-footer__created-by
        span.mt-footer__created-by-element
          | Diseñado por&nbsp;
          a(href="https://www.linkedin.com/in/geraldine-diaz/" target="_blank" class="mt-footer__copyright-link") Geraldine Díaz
        span.mt-footer__created-by-element
          | Desarrollado por&nbsp;
          a(href="https://www.linkedin.com/in/kevin-prado-428a0b207/" target="_blank" class="mt-footer__copyright-link") Kevin Prado
    </div>
