article.mt-contact
  .mt-wrapper
    .mt-contact__content
      p.mt-contact__text ¿Tienes dudas?
      h2.mt-contact__title Contáctanos, tenemos múltiples canales de comunicación, elige el que más te guste
      a.mt-btn(href="#") Contáctanos
