figure.mt-people
  img.mt-people__img(src="public/assets/images/people/people.png" alt="Cabina de conductor de camión")
  figcaption.mt-people__content
    h2.mt-people__title Nuestra gente lo es todo
    p.mt-people__text Sé parte del motor que impulsa el éxito de nuestra empresa de transporte de carga.
    a.mt-btn(href="#") Trabaja con nostros
