$primary-color: #C80D12;
$white: #fff;

$primary-color-hover: #a80c10;
$white-hover: #ececec;
$black-primary: #111827;
$grey-primary: #4B5563;
$grey-secondary: #9CA3AF;
$white-border: #DFE4EA;
$box-border:#F9F9FA;
//Colores
$c-white: #ffffff;
$c-black-opacity: rgba(17, 24, 39, 0.6);
$c-brand: #C80D12;
