.mt-wrapper
  .mt-hero
    header.mt-hero__header
      h1.mt-hero__title Estamos conectando la carga de las empresas con el país entero.
      p.mt-hero__caption Somos un grupo empresarial 100% Colombiano; Formado con el animo de llegar a cada eslabón de la cadena logística, conociendo sus principales problemáticas y brindando soluciones efectivas e innovadoras.</p>
      a.mt-btn.mt-hero__btn(href="#") Más informacíon
    .mt-hero__image
