header.mt-header
  .mt-header__content
    .mt-header__wrapper
      figure.mt-header__figure-logo
        a(href="/public", class="mt-header__logo") ModalTrack Services SAS
      button.mt-header__toggle-button Cerrar
    nav.mt-header__nav
      ul.mt-header__list
        li.mt-header__list-item
          a(href="/public/nosotros.html", class="mt-header__nav-link") Nuestra compañia
        li.mt-header__list-item
          a(href="/public/servicios.html", class="mt-header__nav-link") Servicios
        li.mt-header__list-item
          a(href="/public/jobs.html", class="mt-header__nav-link") Trabaja con nosotros
        li.mt-header__list-item
          a(href="/public/contacto.html", class="mt-header__nav-link") Contacto
