extends _template

block variables
  -var varTitle = "Transportes Modal Track"
  -var varDescription = "Empresa de trasporte de carga."
  -var varAuthor = "Geraldine Diaz"

block content
  .mt-main-content
    include components/hero/_index
    include components/calltoaction/_index
    include components/services/_index
    include components/people/_index
    include components/contact/_index
